.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients-item {
    flex-basis: calc((100% - 150px) / 6);
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border var(--transition-dur-and-func);
}

.clients-icon {
    fill: #afb1b8;
    transition: fill var(--transition-dur-and-func);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-color);
}